<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{{ PAGE.no ~ ' ' ~ PAGE.id ~ ' — ' ~ APP.title }}</title>

<meta name="description" content="">
<meta name="viewport" content="viewport-fit=cover, initial-scale=1, shrink-to-fit=no">
{# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> #}

{# Favicon #}
<!-- <link rel="manifest" href="site.webmanifest"> -->
<!-- <link rel="apple-touch-icon" href="icon.png"> -->
<!-- Place favicon.ico in the root directory -->

{# Vendor Fonts Link #}

{# Static Fonts Preload Link #}
{# <link rel="preload" href="{{ CRITICAL.path }}/fonts/font.woff2" as="font" type="font/woff2" crossorigin>

{# Images Preload #}
{# {% for image in APP.preload.img %}
    {% include '_preload-image.twig' %}
{% endfor %}

{% for image in PAGE.preload.img %}
    {% include '_preload-image.twig' %}
{% endfor %}

{% for image in PAGE.preload.zzz %}
    {% include '_preload-image.twig' with { path: 'zzz' } %}
{% endfor %} #}

{## Async CSS #}
{% for style in APP.styles %}
    <link rel="stylesheet" href="{{ PATH.css ~ style }}.css">
    {# <link rel="preload" href="{{ PATH.css ~ style }}.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> #}
{% endfor %}
{% for style in PAGE.styles %}
    <link rel="stylesheet" href="{{ PATH.css ~ style }}.css">
    {# <link rel="preload" href="{{ PATH.css ~ style }}.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> #}
{% endfor %}
{## Custom Component CSS #}
{% for style in CUSTOM.styles %}
    <link rel="stylesheet" href="{{ PATH.css ~ style }}.css">
{% endfor %}
{## Develop Component CSS #}
{% if IS_DEV %}
    <link rel="stylesheet" href="{{ PATH.css }}dev.css">
{% endif %}

{#** No JS fallback #}
{# <noscript><link rel="stylesheet" href="/src/css/*.css"></noscript>  #}

{## Polyfill [rel=preload] for CSS #}
{#<script>{% include '../../pub/js/vendor/preload.js' %}</script>#}

{% if PAGE.isCritical %}
    <!-- critical: css -->
{% endif %}
